/* ------------- status error -------------- */

.errmsg {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.errmsg.offscreen {
  border: none;
}

/* -------signin--------- */

.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  height: 400px;
  background-color: white;
  max-width: 90%;
  border: 2px solid black;
  border-radius: 10px;
}
.signin.effect {
  left: -1000%;
}
.login .signin .signin_inputs {
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 90%;

  justify-content: space-between;
  align-items: center;
}

.signin h2 {
  margin: auto;
}
.login_inputs {
  width: 80%;
  height: 50px;
  border-radius: var(--inputs-border-radius);
  border: 2px solid #000000;
  padding-left: 5%;
  font-size: var(--signin-Button-font-size);
}

.login_inputs_medium {
  width: var(--inputs-width-minimum);
  height: 50px;
  border-radius: 15px;
  border: 2px solid #000000;

  font-size: var(--signin-Button-font-size);
  padding-left: 36px;
}

/* --------Roles-select--------- */

.roles_select {
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----Roles---- */

.role_btn {
  height: 50px;
  width: 30%;
  border-radius: var(--inputs-border-radius);
  border: var(--inputs-border);
  background-color: white;
  font-size: var(--signin-Button-font-size);
  transition: 0.2s;
}

.role_btn.active {
  border: red solid 2px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
